:host{
    display: block;
    padding: 1rem;
}
.fields{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    
}
.actions{
    
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*
.actions{
    display: flex;
    justify-content: start;
    gap: 1rem;
 }
*/
